<div class="bs-docs-section">
    <div class="page-header">
        <h1 class="text-primary header">Nowy punkt</h1>
    </div>
    <div id="AddForm" class="row">
        <div class="col-md-6">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label for="AddLine" class="col-md-12 control-label" style="text-align:left">Trasa</label>
                        <div class="col-md-12">
                            <select class="form-control" id="AddLine" ng-model="vm.point.line">
                                <option>Trasa Starszoharcerska</option>
                                <option>Trasa Wędrownicza</option>
                                <option>Trasa Rowerowa</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AddPointNr" class="col-md-12 control-label" style="text-align:left">Numer Punktu</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="AddPointNr" placeholder="Numer Punktu" ng-model="vm.point.nr"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AddName" class="col-md-12 control-label" style="text-align:left">Nazwa Punktu</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="AddName" placeholder="Nazwa Punktu" ng-model="vm.point.name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AddDesc" class="col-md-12 control-label" style="text-align:left">Opis</label>
                        <div class="col-md-12">
                            <textarea class="form-control" rows="6" id="AddDesc" placeholder="Opis" ng-model="vm.point.description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AddQuestion" class="col-md-12 control-label" style="text-align:left">Pytanie</label>
                        <div class="col-md-12">
                            <textarea class="form-control" rows="2" id="AddQuestion" placeholder="Pytanie" ng-model="vm.point.question"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label" style="text-align:left">Dojście do następnego punktu</label>
                        <div id="AddText" class="col-md-12">
                            <textarea class="form-control" rows="2" id="AddNextPoint" placeholder="Następny punkt"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AddLat" class="col-md-12 control-label" style="text-align:left">Szerekość Geograficzna</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="AddLat" placeholder="Szerekość Geograficzna" ng-model="vm.point.lat"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AddLong" class="col-md-12 control-label" style="text-align:left">Długość Geograficzna</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="AddLong" placeholder="Długość Geograficzna" ng-model="vm.point.lng"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 col-md-offset-3">
                            <button id="AddReset" type="reset" class="btn btn-warning" ng-click="vm.point={}">Wyczyść</button>
                        </div>
                        <div class="col-md-2 col-md-offset-2">
                            <button id="Save" type="submit" class="btn btn-success" ng-click="vm.addPoint()">Zapisz</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-sm-6">
            <ng-map center="52.408603, 16.934039" zoom="15" style="height: 800px" on-click="vm.setPosition(event)">
                <marker position="{{vm.point.lat}},{{vm.point.lng}}" centered="true" ng-if="vm.point.lat"></marker>
            </ng-map>
        </div>
    </div>
</div>