<div class="bs-docs-section">
    <div class="page-header header">
        <h1 class="text-primary">Mapa</h1>
    </div>
    <div>
        <div class="form-group">
            <label class="col-md-12 control-label" style="text-align:left">Użytkownik</label>
            <div class="col-md-12">
                <select class="form-control" ng-model="vm.user" ng-change="vm.changeUser()" style="margin-bottom: 20px">
                    <option ng-repeat="user in vm.users" value="{{user.UserId}}">{{user.FirstName}} {{user.LastName}}</option>
                </select>
                <ng-map center="52.408603, 16.934039" zoom="13" style="height: 500px">
                    <shape name="circle" ng-repeat="loc in vm.loc" no-watcher="true"
                           stroke-color="#000000"
                           stroke-opacity="0.8"
                           stroke-weight="2"
                           center="{{loc.Latitude}},{{loc.Longnitude}}"
                           radius="20">
                    </shape>
                </ng-map>
            </div>
        </div>
    </div>
</div>
