<div class="bs-docs-section">
    <div class="page-header header">
        <button class="btn btn-primary pull-right" type="button" ng-click="vm.newMessage()">Nowy komunikat</button>
        <h1 class="text-primary">Komunikaty</h1>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="jumbotron" ng-repeat="message in vm.messages | orderBy:id:true">
                <h2 class="text-primary">{{message.title}}</h2>
                <p>
                    {{message.description}}
                </p>
            </div>
        </div>
    </div>
</div>

