<div class="bs-docs-section" ng-controller="newsController as vm">
    <div class="page-header">
        <h1 class="text-primary">Komunikaty</h1>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="jumbotron">
                <h2 class="text-primary">Tytuł!</h2>
                <p>
                    Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst
                    Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst
                </p>
            </div>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <div class="jumbotron">
                <h2 class="text-primary">Tytuł!</h2>
                <p>
                    Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst
                    Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst
                </p>
            </div>
        </div>
    </div>
</div>

